.footer
    width: 100%
    background: $footerBg
    
    &__footer-content 
        align-items: center
        justify-content: space-between
        display: flex
        padding: 20px 123px
        margin-top: auto

.footer-left
    &__copyright
        font-size: 14px
        line-height: 20px
        color: $footerText


.footer-right
    &__link
        text-decoration: none
        margin-left: 25px
        font-size: 14px
        line-height: 20px
        color: $footerText
