@font-face {
  font-family: 'MasonChronicles';
  src: url("../fonts/MasonChronicles.woff") format("woff"), url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *, html *:before, html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/background.jpg") no-repeat top right 20%;
  background-color: #141218;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  min-height: 100vh;
}

.container {
  max-width: 1134px;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px;
}

.header__menu-list {
  margin-left: 68px;
  margin-right: auto;
}

.menu-list__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 24px;
}

.social__link {
  margin-left: 20.7px;
  text-decoration: none;
}

.main__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 975px;
  margin-bottom: 85px;
}

.main__series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 99px;
  position: relative;
  max-width: 460px;
}

.main-content__play {
  border: none;
  background: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.main-content__play:before {
  content: "";
  width: 132px;
  height: 132px;
  background: #9D2929;
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  left: -16px;
  top: -16px;
}

.play__img {
  position: relative;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.content__genre {
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 16px;
}

.content__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.content__title {
  font: 500 76px/89px 'MasonChronicles', serif;
  margin-bottom: 10px;
}

.content__description {
  font-size: 14px;
  line-height: 150%;
  max-width: 458px;
  margin-bottom: 40px;
}

.content__btn {
  border: none;
  padding: 22px 72px;
  background: #9D2929;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.rating__number {
  font-size: 12px;
  line-height: 14px;
}

.rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
}

.rating__img {
  margin-right: 4px;
}

.series__card {
  width: 164px;
  height: 113px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 13px;
  margin-right: 30px;
}

.series__card--1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-1.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-1.jpg") no-repeat center center;
  background-size: cover;
}

.series__card--2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-2.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-2.jpg") no-repeat center center;
  background-size: cover;
}

.series__card--3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-3.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-3.jpg") no-repeat center center;
  background-size: cover;
}

.series__card--4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-4.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-4.jpg") no-repeat center center;
  background-size: cover;
}

.series__card--5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-5.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-5.jpg") no-repeat center center;
  background-size: cover;
}

.series__card--6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-6.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-6.jpg") no-repeat center center;
  background-size: cover;
}

.series__card--7 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-7.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-7.jpg") no-repeat center center;
  background-size: cover;
}

.series__card--8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("../img/series/series-8.jpg") no-repeat center center;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/series/series-8.jpg") no-repeat center center;
  background-size: cover;
}

.series__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.series__subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}

.series__arrow {
  width: 32px;
  height: 23px;
  border: none;
  background: url("../img/arrow.svg") no-repeat center center;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.footer {
  width: 100%;
  background: #141218;
}

.footer__footer-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 123px;
  margin-top: auto;
}

.footer-left__copyright {
  font-size: 14px;
  line-height: 20px;
  color: #3A383D;
}

.footer-right__link {
  text-decoration: none;
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #3A383D;
}

.swiper-container {
  max-width: 420px;
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */